.date-component {
    height: 500px;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.date-component__title{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    color: #383838;
    /*display: flex;*/
    /*align-items: center;*/
}

.date-component__separator {
    color: #ab9895;
}

.date-component__date {
    margin-top: 30px;
    font-size: 50px;
    line-height: 50px;
    font-weight:300;
}



.date-component__days-left, .date-component__hours-left {
    font-weight: 300;
    font-size: 15px;
}