.maps-wrapper {
  min-height: 550px;
  padding: 0 15px 10px 30px;

}

.mapa1 {
  border: 0;
  width: 100%;
  height: 500px;

}

.maps-wrapper__title {
  text-align: left;
  font-size: 30px;
  font-weight: 300;
  padding: 30px 0;
}

.maps-wrapper__address {
  text-align: left;
  font-weight: 200;
  padding-bottom: 30px;
}