.presents-component {
    height: 500px;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 21px;
}


.heart {
    font-size: 2em;
}

@media all and (min-width: 1024px){
    .heart {
        font-size: 5em;
    }
}