.main {
    height: calc(100vh - 56px);
    background: url("../../assets/logo.jpg");
    background-position: center center;
    background-size: cover;
    /*display: flex;*/
    border-bottom: 10px solid #f5f5f7;
}
@media all and (max-width: 600px) {
    .main {
        height: 250px;
    }
}

@media all and (min-width: 600px) and (max-width: 1024px){
    .main {
        height: 500px;
    }
}
.quotation {
    height: calc(100vh - 56px);
    display: flex;
    align-items: flex-end;

}

.quotation__text {
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 7rem;
}