.side-image-component {
    height: 550px;
    border-bottom: 10px solid #f5f5f7;
}

.image {
    background-position: center center;
    background-size: cover;
    min-height: 550px;
}

@media all and (max-width: 600px) {
    .image {
        min-height: 250px;
    }
}

@media all and (min-width: 601px) and (max-width: 1024px){
    .image {
        min-height: 600px;
    }
}

.jumbotron {
    background-color: white;
    border-bottom: 10px solid #f5f5f7;
}

.side-component {

}
