.footer-logo {
    font-size: 100px;
}

@media screen and (max-width: 992px) {
    .footer-logo {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px) {
    .footer-logo {
        font-size: 30px;
    }
}

.footer-wrapper {
    background-color: #f5f5f7;
}