.rsvp-component {
    min-height: 650px;
    background-color: #f5f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rsvp__title {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin-bottom: 20px;

}

.rsvp__description {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: .025em;
}

.rsvp__description--separator {
    border-color: #ca8276;
    border-style: dashed;
    border-width: 1px;

    vertical-align: middle;
    margin: 20px 0 50px 0;
}

.rsvp__form {
    text-align: left;
}

.rsvp__form--confirmation {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.error {
    color: red;
}