@font-face {
  font-family: 'test';
  src: url('./assets/fonts/heart.ttf') format('truetype') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  /*padding: 20px;*/
  color: white;
}

.header-logo {
  font-size: 30px;
  font-family: test;
}

.heart {
  font-family: test;
}


.thanks {
  padding: 30px;
  font-size: 26px;
}

.bigger {
  font-size: 20px;
  padding: 10px;
  font-weight: 800;
}

.bigger2 {
  margin-top: 60px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;

}

.image img {
  width: 600px;
  margin-bottom: 20px;
  opacity: 0.8;
  transition: all 0.5s ease;
  max-width: 100%;

}

.image img:hover {
  opacity: 1;
}

.gallery .image {
 max-width: 650px;
  padding: 20px;
  border: 1px solid #8080801c;
  border-radius: 3px;
  margin: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
  color: black;
}

.gallery .image:hover {
  border: 1px solid #1e88f9;
}

iframe {
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 24px;
}


