body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.nav-item {
    cursor: pointer;
}


.jumbotron {
   padding: 0;
   margin-bottom: 0;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 0;
  }
}