.component {
    height: 500px;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title {
    margin-top: 40px;
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    color: #383838;
    /*display: flex;*/
    /*align-items: center;*/
}

.separator {
    color: #ab9895;
}

.days-left-amount, .hours-left-amount {
    margin-top: 30px;
    font-size: 50px;
    line-height: 50px;
    font-weight:300;
}

.days-left, .hours-left {
    font-weight: 300;
    font-size: 15px;
}